<div class="container dccn-table">
  <div class="row">
    <div class="col-9 col-md-10 col-lg-9">
      <p>Russian citizens and students of Russian universities <span class="font-weight-normal">with co-authors</span>:</p>
    </div>
    <div class="col-3 col-md-2 col-lg-3">
      <p>3000 &#8381;</p>
    </div>
  </div>
  <div class="row">
    <div class="col-9 col-md-10 col-lg-9">
      <p>Russian citizens and students of Russian universities <span class="font-weight-normal">with co-authors</span> with <span class="font-weight-normal">IEEE membership</span>:</p>
    </div>
    <div class="col-3 col-md-2 col-lg-3">
      <p>1500 &#8381;</p>
    </div>
  </div>
  <div class="row">
    <div class="col-9 col-md-10 col-lg-9">
      <p>Students of Russian universities <span class="font-weight-normal">without co-authors</span>:</p>
    </div>
    <div class="col-3 col-md-2 col-lg-3">
      <p>1500 &#8381;</p>
    </div>
  </div>
  <div class="row">
    <div class="col-9 col-md-10 col-lg-9">
      <p>Students of Russian universities <span class="font-weight-normal">without co-authors</span> with <span class="font-weight-normal">IEEE membership</span>:</p>
    </div>
    <div class="col-3 col-md-2 col-lg-3">
      <p>0 &#8381;</p>
    </div>
  </div>
  <div class="row">
    <div class="col-9 col-md-10 col-lg-9">
      <p>International participants:</p>
    </div>
    <div class="col-3 col-md-2 col-lg-3">
      <p>200 &euro;</p>
    </div>
  </div>
  <div class="row">
    <div class="col-9 col-md-10 col-lg-9">
      <p>International participants with <span class="font-weight-normal">IEEE membership</span>:</p>
    </div>
    <div class="col-3 col-md-2 col-lg-3">
      <p>170 &euro;</p>
    </div>
  </div>
</div>

<div class="dccn-important-note">
  <p class="dccn-important-heading">IMPORTANT</p>
  <p>Now you can <a href="https://portal.pfur.ru:4443/Free/OfferPayEn.aspx?num=3319230010039">pay the registration fee online</a>!</p>
</div>
<!-- <p><span class="lead">Discounts: </span> all IEEE members receive a 15% registration fee reduction.</p> -->
