{% extends 'base.html' %}
{% from 'navigation.njk' import navbar %}

{% block navigation %}
{{ navbar('cfp') }}
{% endblock %}

{% block main %}
<div class="container px-0">
  <div class="flex-column">

    <div class="dccn-panel">
      <h3 class="dccn-panel-title">Call for papers</h3>

      <p>Authors are encouraged to submit their papers (6-8 pages) in Russian or English language via the online registration system website at <a href="https://dccn.ru">https://dccn.ru/</a>. The accepted papers will be published in the Conference Proceedings volume (included into the Russian Science Citation Index) prior to the beginning of the Conference. After a peer review and plagiarism check using IEEE CrossCheck, authors of selected submissions in English, recommended by the Program Committee, will be invited to submit their extended papers (12-15 pages in Springer LNCS format). After a second round of review the accepted extended papers will be published by Springer (final approval pending) as a stand-alone volume of selected extended papers (indexed in Scopus and Web of Science).</p>

      <p>
        <a href="/data/DCCN2019_CFP.pdf" target="_blank">
          <i class="far fa-file-pdf"></i> DCCN2019_CFP.pdf
        </a>
      </p>

      <p class="text-center">
        <a href="https://dccn.ru" class="btn btn-outline-primary">Submit paper</a>
      </p>

      <h4 class="dccn-panel-subtitle mt-4">Important Dates</h4>
      <div class="container">
        <div class="row align-items-end pr-3">
          <div class="col-sm-6 col-lg-8">Registration opens:</div>
          <div class="col-sm-6 col-lg-4 text-sm-right font-weight-normal">2 April 2019</div>
        </div>
        <div class="row align-items-end mt-2 pr-3">
          <div class="col-sm-6 col-lg-8">Submission deadline:</div>
          <div class="col-sm-6 col-lg-4 text-sm-right font-weight-normal">15 May 2019</div>
        </div>
        <div class="row align-items-end mt-2 pr-3">
          <div class="col-sm-6 col-lg-8">Notification of acceptance:</div>
          <div class="col-sm-6 col-lg-4 text-sm-right font-weight-normal">17 June 2019</div>
        </div>
        <div class="row align-items-end mt-2 pr-3">
          <div class="col-sm-6 col-lg-8">Camera-ready (regular proceedings):</div>
          <div class="col-sm-6 col-lg-4 text-sm-right font-weight-normal">1 July 2019</div>
        </div>
        <div class="row align-items-end mt-2 pr-3">
          <div class="col-sm-6 col-lg-8">Camera-ready (Extended LNCS):</div>
          <div class="col-sm-6 col-lg-4 text-sm-right font-weight-normal">1 August 2019</div>
        </div>
      </div>

      <h4 class="dccn-panel-subtitle mt-4">Topics of the Conference</h4>
      <p>Topics include, but are not limited to the following fields:</p>
      <ul class="dccn-topic-list">
        <li>Communication networks algorithms and protocols</li>
        <li>Wireless and mobile networks</li>
        <li>Computer and telecommunication networks control and management</li>
        <li>Performance analysis, QoS/QoE evaluation and network efficiency</li>
        <li>Analytical modeling and simulation of communication systems</li>
        <li>Evolution of wireless networks toward 5G</li>
        <li>Centimeter- and millimeter-wave radio technologies</li>
        <li>RFID-technologies and their applications</li>
        <li>Internet of Things and Fog Computing</li>
        <li>Cloud computing, distributed and parallel systems</li>
        <li>Big data</li>
        <li>Probabilistic and statistical models in information systems</li>
        <li>Queuing theory and reliability theory applications</li>
        <li>High-altitude telecommunications platforms</li>
      </ul>

      <h3 class="dccn-panel-subtitle mt-4">Templates</h3>
      <p>You can download the LaTeX templates via the following links:</p>
      <ul class="dccn-topic-list">
        <li>
          <a href="/data/DCCN2019_LaTeX_EN.zip"><i class="far fa-file-archive"></i> DCCN2019_LaTeX_EN.zip</a> - template in English
        </li>
        <li>
          <a href="/data/DCCN2019_LaTeX_RU.zip"><i class="far fa-file-archive"></i> DCCN2019_LaTeX_RU.zip</a> - template in Russian
        </li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
