{% extends 'base.html' %}
{% from 'navigation.njk' import navbar %}

{% block navigation %}
{{ navbar('committees') }}
{% endblock %}

{% block main %}
<div class="container px-0">
  <div class="flex-column">
    <div class="dccn-panel pb-5">
      <h3 class="dccn-panel-title">Organizing Committee</h3>
      <h4 class="dccn-panel-subtitle">Chairs</h4>
      <div class="row justify-content-center">
        <div class="col-md-9">
          <ul class="list-unstyled ml-3">
            <li class="my-1">V.M. Vishnevsky - V.A. Trapeznikov Institute of Control Sciences of RAS (Russia)</li>
            <li class="my-1">K.E. Samouylov - RUDN University (Russia)</li>
          </ul>
        </div>
      </div>
      <h4 class="dccn-panel-subtitle">Members</h4>
      <div class="row justify-content-center">
        <div class="col-md-6 my-0 py-0">
          <ul class="my-0 py-0 list-unstyled ml-md-5 ml-3">
            <li class="my-3">D.V. Kozyrev - RUDN University, V.A. Trapeznikov Institute of Control Sciences of RAS (Russia)</li>
            <li class="my-3">A.A. Larionov - V.A. Trapeznikov Institute of Control Sciences of RAS (Russia)</li>
            <li class="my-3">S.N. Kupriyakhina - V.A. Trapeznikov Institute of Control Sciences of RAS (Russia)</li>
            <li class="my-3">S.P. Moiseeva - Tomsk State University (Russia)</li>
          </ul>
        </div>
        <div class="col-md-6 my-0 py-0">
          <ul class="my-0 py-0 list-unstyled ml-3 mr-md-5">
            <li class="my-3">T. Atanasova - Institute of Information and Communication Technologies of BAS (Bulgaria)</li>
            <li class="my-3">I.A. Gudkova - RUDN University (Russia)</li>
            <li class="my-3">E.V. Markova - RUDN University (Russia)</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="dccn-panel pb-5">
      <h3 class="dccn-panel-title">Technical Program Committee</h3>
      <h4 class="dccn-panel-subtitle">Chairs</h4>
      <div class="row justify-content-center">
        <div class="col-md-9">
          <ul class="list-unstyled">
            <li class="my-1">V.M. Vishnevsky - V.A. Trapeznikov Institute of Control Sciences of RAS (Russia)</li>
            <li class="my-1">K.E. Samouylov - RUDN University (Russia)</li>
            <li class="my-1">Ye.A. Koucheryavy - Tampere University of Technology (Finland)</li>
          </ul>
        </div>
      </div>
      <h4 class="dccn-panel-subtitle">Members</h4>
      <div class="row justify-content-center">
        <div class="col-md-6 my-0 py-0">
          <ul class="my-0 py-0 list-unstyled ml-md-5 ml-3">
            <li class="my-3">S.M. Abramov - Program Systems Institute of RAS (Russia)</li>
            <li class="my-3">S. Andreev - Tampere University of Technology (Finland), member of IEEE</li>
            <li class="my-3">A.M. Andronov - Transport and Telecommunication Institute (Latvia)</li>
            <li class="my-3">A.S. Bugaev - Moscow Institute of Physics and Technology (Russia), member of IEEE;</li>
            <li class="my-3">S.R. Chakravarthy - Kettering University (USA)</li>
            <li class="my-3">T. Czachorski - Institute of informatics of Polish Academy of Sciences (Poland)</li>
            <li class="my-3">A.N. Dudin - Belarusian state university (Belarus)</li>
            <li class="my-3">D. Deng - National Changhua University of Education (Taiwan)</li>
            <li class="my-3">A.V. Dvorkovich - Moscow Institute of Physics and Technology (Russia)</li>
            <li class="my-3">Yu.V. Gaidamaka - RUDN University (Russia)</li>
            <li class="my-3">P. Gaj - Politechnika Slaska w Gliwicach, Department of Electronics and Computer Science (Poland)</li>
            <li class="my-3">D. Grace - York University (UK), member of IEEE</li>
            <li class="my-3">Yu.V. Gulyaev - Kotelnikov Institute of Radioengineering and Electronics of RAS (Russia), senior member of IEEE</li>
            <li class="my-3">J. Hosek - Brno University of Technology (Czech Republic), member of IEEE</li>
            <li class="my-3">V.C. Joshua - Department of Mathematics, CMS College (India)</li>
            <li class="my-3">N. Kolev - University of Sao Paulo (Brazil)</li>
            <li class="my-3">J. Kolodziej - Cracow University of Technology (Poland)</li>
            <li class="my-3">G. Kotsis - Johannes Kepler University Linz (Austria)</li>
            <li class="my-3">U. Krieger - University of Bamberg (Germany), member of IEEE</li>
            <li class="my-3">A. Krishnamoorthy - Cochin University of Science and Technology (India)</li>
            <li class="my-3">A.E. Koucheryavy - Bonch-Bruevich Saint-Petersburg State University of Telecommunications (Russia), member of IEEE</li>
            <li class="my-3">Ye.A. Koucheryavy - Tampere University of Technology (Finland), senior member of IEEE</li>
            <li class="my-3">N.A. Kuznetsov - Moscow Institute of Physics and Technology (Russia), member of IEEE</li>
          </ul>
        </div>
        <div class="col-md-6 my-0 py-0">
          <ul class="my-0 py-0 list-unstyled ml-3 mr-md-5">
            <li class="my-3">L. Lakatos - Budapest University (Hungary)</li>
            <li class="my-3">E. Levner - Holon institute of technology (Israel)</li>
            <li class="my-3">S.D. Margenov - Institute of Information and Communication Technologies of Bulgarian Academy of Sciences (Bulgaria)</li>
            <li class="my-3">A. Melikov - Institute of Cybernetics of the Azerbaijan National Academy of Sciences (Azerbaijan)</li>
            <li class="my-3">G.K. Mishkoy - Academy of sciences of Moldova (Moldavia)</li>
            <li class="my-3">E.V. Morozov - Institute of Applied Mathematical Research of the Karelian Research Centre RAS (Russia)</li>
            <li class="my-3">V.A. Naumov - Service Innovation Research Institute (PIKE) (Finland)</li>
            <li class="my-3">A.A. Nazarov - Tomsk State University (Russia)</li>
            <li class="my-3">I.V. Nikiforov - Universite de Technologie de Troyes (France)</li>
            <li class="my-3">P. Nikitin - University of Washington (USA), senior member of IEEE</li>
            <li class="my-3">S.A. Nikitov - Institute of radio engineering and electronics of RAS (Russia), senior member of IEEE</li>
            <li class="my-3">D.A. Novikov - V.A. Trapeznikov Institute of Control Sciences of RAS (Russia)</li>
            <li class="my-3">M. Pagano - Pisa University (Italy)</li>
            <li class="my-3">E. Petersons - Riga Technical University (Latvia)</li>
            <li class="my-3">V.V. Rykov - Gubkin Russian State University of Oil and Gas (Russia);</li>
            <li class="my-3">M.A. Sneps-Sneppe - Ventspils University College (Latvia)</li>
            <li class="my-3">P. Stanchev - Kettering University (USA)</li>
            <li class="my-3">S.N. Stepanov - Moscow Technical University of Communication and Informatics (Russia)</li>
            <li class="my-3">S.P. Suschenko - Tomsk State University (Russia);</li>
            <li class="my-3">H. Tijms - Vrije Universiteit Amsterdam (Netherlands)</li>
            <li class="my-3">S.N. Vasiliev - V.A. Trapeznikov Institute of Control Sciences of RAS (Russia)</li>
            <li class="my-3">Yu.P. Zaychenko - Kyiv polytechnic institute (Ukraine)</li>
            <li class="my-3">H. Karatza - Aristotle University of Thessaloniki (Greece), senior member of IEEE</li>
            <li class="my-3">J. Sztrik - University of Debrecen (Hungary)</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
